In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

# 一.从csv和txt读取数据

In [2]:
data = pd.read_csv(r"./csvtxtdata/data.csv", header=None) # header=None:表示源文件没有表头, 自动生成表头
data

    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14

In [3]:
data = pd.read_csv(r"./csvtxtdata/data.csv", header=0) # header=0, 缺省值, 以源文件第一行作为索引
data

    0   1   2   3   4
0   5   6   7   8   9
1  10  11  12  13  14

In [4]:
data = pd.read_csv(r"./csvtxtdata/data.csv", names=['a', 'b', 'c', 'd', 'e'])
data

    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14

In [5]:
data = pd.read_csv(r"./csvtxtdata/phones.csv", encoding='gbk')
data

                                 商品名称     价格    颜色
0         Apple iPhone X (A1865) 64GB   6299  深空灰色
1  Apple iPhone XS Max (A2104) 256GB   10999  深空灰色
2       Apple iPhone XR (A2108) 128GB   6199    黑色
3         Apple iPhone 8 (A1863) 64GB   3999  深空灰色
4    Apple iPhone 8 Plus (A1864) 64GB   4799  深空灰色
5        Apple iPhone XS (A2100) 64GB   8699  深空灰色
6       Apple 苹果 iPhone Xs Max  256GB   9988    金色
7             Apple 苹果 iPhone Xs 64GB   8058    金色
8            Apple 苹果 iPhone XR 128GB   5788    黑色
9         Apple iPhone 7 (A1660) 128G   4139  玫瑰金色

In [6]:
data = pd.read_csv(r"./csvtxtdata/table_data.txt", sep=';', names=['a','b','c','d','e']) # sep:设置分割符号3
data

    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14

In [7]:
data = pd.read_csv(r"./csvtxtdata/itheima_books.txt", sep=' ', names=['课程', '网址'], header=0) # 用'header'参数分选出表头和数据, 再用'names'参数添加表头
data

      课程                                                 网址
0  学习线路图  https://book.itheima.net/learnline/12658994432...
1   学习教程  https://book.itheima.net/course/12658994432738...
2   面试宝典  https://book.itheima.net/study/126589944327385...

In [8]:
data = pd.read_table(r"./csvtxtdata/ok.txt")
data

   0  1  2
0  3  4  5
1  6  7  8

# 二.将数据保存为文件

In [9]:
data = pd.read_csv(r"./csvtxtdata/table_data.txt", sep=';', names=['a','b','c','d','e']) # sep:设置分割符号3
data

    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14

In [10]:
data.to_csv(r"./csvtxtdata/output.txt", sep='\t', index=False) # 可以用指定分割成保存, index=False表示不保存行索引
'保存成功'

'保存成功'

In [11]:
data.to_csv(r"./csvtxtdata/output.txt", sep='\t', index=False ,header=False) # header=False表示不保存列索引
'保存成功'

'保存成功'

# 三.练习

In [12]:
list = [[1, 5, 8, 8], [2, 2, 4, 9], [7, 4, 2, 3], [3, 0, 5, 2]]
df = DataFrame(list, columns=['A','B','C','D'])
df

   A  B  C  D
0  1  5  8  8
1  2  2  4  9
2  7  4  2  3
3  3  0  5  2

In [13]:
df = df.sort_values(by='B', ascending=False)
df

   A  B  C  D
0  1  5  8  8
2  7  4  2  3
1  2  2  4  9
3  3  0  5  2

In [14]:
df.to_csv(r"./csvtxtdata/output.csv", index=False)
'保存成功'

'保存成功'