In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

# 一.json数据的获取与存储

In [2]:
json_data = pd.read_json(r'./jsonExcel/douban.json', encoding='utf8')
json_data

          film
rank         1
title  憨豆先生精选辑
types       喜剧

In [3]:
json_data.to_json(r'./jsonExcel/douban_save.json', force_ascii=False) # 不强制把字符串编码改为:ASCII

In [4]:
json_data = pd.read_json(r'./jsonExcel/douban2.json', encoding='utf8')
json_data.to_json(r'./jsonExcel/douban2_save.json', force_ascii=False)
json_data

   rank   title types
0     2    美丽人生    喜剧
1     3  福尔摩斯二世    喜剧

In [5]:
json_data = pd.read_json(r'./jsonExcel/Animal_species.json', encoding='utf8')
json_data.to_json(r'./jsonExcel/Animal_species_save.json', force_ascii=False)
json_data

  哺乳动物 鱼类动物 飞禽类动物 昆虫类动物
0    虎   龙鱼   丹顶鹤    蝴蝶
1   猴子   鲶鱼    金雕   金龟子
2    狗   鳟鱼    白鹭    蜜蜂
3    猫   章鱼    鸽子    蜻蜓
4    鹿   草鱼    天鹅    螳螂

# 二.Excel数据的获取与存储

In [6]:
excel_data = pd.read_excel(r'./jsonExcel/data.xlsx') # 缺省状态下读sheet1, sheet_name=0
excel_data

    名称  单价\n（元/斤）  一部销量  二部销量  三部销量  四部销量
0   菜花      1.450     0    40     0     0
1   菜心      3.750     0    46    22    30
2  茶树菇      8.625    30     0     0     0
3  大白菜      0.500     0    50     0     0

In [7]:
excel_data = pd.read_excel(r'./jsonExcel/data.xlsx', sheet_name='Sheet2') # 选择指定工作表, sheet_name=1同理
excel_data

    名称  单价\n（元/斤）  一部销量  二部销量  三部销量  四部销量
0  鹌鹑蛋      8.675     0     0   0.0     8
1  白萝卜      0.650     0     6   4.0     0
2  白山药      1.950     0     0   5.0     0
3  白玉菇      4.450     0     0   2.5     0

In [8]:
excel_data = pd.read_excel(r'./jsonExcel/data.xlsx', sheet_name=None) # 读取全部工作表
excel_data

OrderedDict([('Sheet1',     名称  单价\n（元/斤）  一部销量  二部销量  三部销量  四部销量
              0   菜花      1.450     0    40     0     0
              1   菜心      3.750     0    46    22    30
              2  茶树菇      8.625    30     0     0     0
              3  大白菜      0.500     0    50     0     0),
             ('Sheet2',     名称  单价\n（元/斤）  一部销量  二部销量  三部销量  四部销量
              0  鹌鹑蛋      8.675     0     0   0.0     8
              1  白萝卜      0.650     0     6   4.0     0
              2  白山药      1.950     0     0   5.0     0
              3  白玉菇      4.450     0     0   2.5     0),
             ('Sheet3',      名称  单价\n（元/斤）  一部销量  二部销量  三部销量  四部销量
              0    紫薯      4.200     5    50     0     0
              1  紫皮洋葱      1.300    15     0     0     0
              2   紫甘蓝      0.825     5    26     0     4
              3    竹笋      9.100     0     4     0     0)])

In [9]:
excel_data['Sheet3'] # 读取全部后选择读取'Sheet3'

     名称  单价\n（元/斤）  一部销量  二部销量  三部销量  四部销量
0    紫薯      4.200     5    50     0     0
1  紫皮洋葱      1.300    15     0     0     0
2   紫甘蓝      0.825     5    26     0     4
3    竹笋      9.100     0     4     0     0

## 1.写入单个Sheet到表格中

In [10]:
dict = {
    'col1': ['A', 'C'],
    'col2': ['B', 'D']
}
df = DataFrame(dict)
df

  col1 col2
0    A    B
1    C    D

In [11]:
df.to_excel(r'./jsonExcel/output.xlsx', 'output', index=False, header=False) # 命名工作表为'output',并不导入行列索引
'sccess'

'sccess'

In [12]:
df.to_excel(r'./jsonExcel/output.xlsx', 'output2', index=False, header=False) # 无法再次在原基础上追加数据
'sccess'

'sccess'

## 2.写入多个Sheet到同一个Excel中

In [13]:
from openpyxl import load_workbook

In [14]:
dict1=[('人工智能','992005','杨海东','90'),('人工智能','992032','王文华','87'),('人工智能','992089','金祥','90')]
df1 = DataFrame(dict1)
dict2=[('多媒体技术','992005','杨海东','89'),('多媒体技术','992032','王文华','84'),('多媒体技术','992089','金祥','79')]
df2 = DataFrame(dict2)
dict3=[('计算机图形学','992005','杨海东','76'),('计算机图形学','992032','王文华','88'),('计算机图形学','992089','金祥','82')]
df3 = DataFrame(dict3)

In [15]:
writer = pd.ExcelWriter(r'./jsonExcel/output.xlsx') # 可以向Writer中写入不同的工作表

In [16]:
df1.to_excel(writer, sheet_name='人工智能', index=False, header=False)
df2.to_excel(writer, sheet_name='多媒体技术', index=False, header=False)
df3.to_excel(writer, sheet_name='计算机图形学', index=False, header=False)
'sccess'

'sccess'

In [17]:
writer.save() # 保存文件
writer.close() # 关闭