# 0.复习

In [1]:
from pandas import Series,DataFrame
import pandas as pd
import numpy as np

In [2]:
dict = {
    'A': [38, 23.5, 40.2, 23],
    'B': [48, 63, None, 44],
    'C': [29, 58, 2, None],
    'D': [40, 77, 31, 56],
}
df = DataFrame(dict, index=['一', '二', '三', '四'], columns=['A', 'B', 'D'])
df

      A     B   D
一  38.0  48.0  40
二  23.5  63.0  77
三  40.2   NaN  31
四  23.0  44.0  56

In [3]:
dict = {
    'A': Series([38, 23.5, 40.2, 23]),
    'B': Series([48, 63, None, 44]),
    'C': Series([29, 58, 2, None]),
    'D': Series([40, 77, 31, 56]),
}
df = DataFrame(dict)
df

      A     B     C   D
0  38.0  48.0  29.0  40
1  23.5  63.0  58.0  77
2  40.2   NaN   2.0  31
3  23.0  44.0   NaN  56

# 一.增加元素

## 1.增加列元素

In [4]:
dict = {
    '课程名称': Series(['Python', 'Java', 'C+']),
    '学分': Series([4, 6])
}
df = DataFrame(dict)
df

     课程名称   学分
0  Python  4.0
1    Java  6.0
2      C+  NaN

In [5]:
df['课程性质'] = ['专业课', '核心课', '核心课']
df

     课程名称   学分 课程性质
0  Python  4.0  专业课
1    Java  6.0  核心课
2      C+  NaN  核心课

在指定的位置插入一列元素

In [6]:
df.insert(2, '学时', [60, 90, None]) # 列位置, 列标签, 列元素
df.insert(3, '学时(auto)', df['学分']*15) # 列位置, 列标签, 列元素, 若该列存在, 则报错
df

     课程名称   学分    学时  学时(auto) 课程性质
0  Python  4.0  60.0      60.0  专业课
1    Java  6.0  90.0      90.0  核心课
2      C+  NaN   NaN       NaN  核心课

## 2.增加行元素

In [7]:
df.loc[3] = ['人工智能', 4, 60, 60, '专业课']
df

     课程名称   学分    学时  学时(auto) 课程性质
0  Python  4.0  60.0      60.0  专业课
1    Java  6.0  90.0      90.0  核心课
2      C+  NaN   NaN       NaN  核心课
3    人工智能  4.0  60.0      60.0  专业课

## 3.修改一行元素

In [8]:
df.iloc[2] = ['数据分析', 6, 90, 90 ,'核心课']
df.iloc[3] = ['人工智能', 4, 60, 60 ,'基础课']
df

     课程名称   学分    学时  学时(auto) 课程性质
0  Python  4.0  60.0      60.0  专业课
1    Java  6.0  90.0      90.0  核心课
2    数据分析  6.0  90.0      90.0  核心课
3    人工智能  4.0  60.0      60.0  基础课

In [9]:
df['课程名称'][2] = '数据分析与挖掘'
df

C:\Users\602-1\AppData\Local\Temp\ipykernel_10748\324721064.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['课程名称'][2] = '数据分析与挖掘'

      课程名称   学分    学时  学时(auto) 课程性质
0   Python  4.0  60.0      60.0  专业课
1     Java  6.0  90.0      90.0  核心课
2  数据分析与挖掘  6.0  90.0      90.0  核心课
3     人工智能  4.0  60.0      60.0  基础课

## 4.删除列元素

In [10]:
del df['学时(auto)']
df

      课程名称   学分    学时 课程性质
0   Python  4.0  60.0  专业课
1     Java  6.0  90.0  核心课
2  数据分析与挖掘  6.0  90.0  核心课
3     人工智能  4.0  60.0  基础课

In [11]:
df.pop('学分')
df

      课程名称    学时 课程性质
0   Python  60.0  专业课
1     Java  90.0  核心课
2  数据分析与挖掘  90.0  核心课
3     人工智能  60.0  基础课

## 5.使用drop()方法删除一列或一行元素

* axis = 1 - 删除列
* axis = 0 - 删除行(缺省)
* inplace = False - 不修改原数据(缺省)
* inplace = True - 修改原数据

In [12]:
df.drop(['学时'], axis=1, inplace=False) # 有返回值, 返回一个副本, 原数据没有改变
df

      课程名称    学时 课程性质
0   Python  60.0  专业课
1     Java  90.0  核心课
2  数据分析与挖掘  90.0  核心课
3     人工智能  60.0  基础课

In [13]:
df.drop([3], axis=0, inplace=True) # 没有返回值, 原数据改变
df

      课程名称    学时 课程性质
0   Python  60.0  专业课
1     Java  90.0  核心课
2  数据分析与挖掘  90.0  核心课