# 一.DataFrame数据及常用操作

In [1]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

## 1.创建DataFrame对象
### (1) 用二维数组生成

In [2]:
arr_2d = np.arange(6).reshape(2, 3)
arr_2d

array([[0, 1, 2],
       [3, 4, 5]])

In [3]:
df1 = DataFrame(arr_2d)
df1

   0  1  2
0  0  1  2
1  3  4  5

In [4]:
df2 = DataFrame(arr_2d, index=['row_1', 'row_2'], columns=['col_1', 'col_2', 'col_3'])
df2

       col_1  col_2  col_3
row_1      0      1      2
row_2      3      4      5